<div class="navbar-background">
  <ul class="navbar container">
    <li class="navbar-item font-16"><a href="/">{{first}}</a></li>
    <li class="navbar-item font-16"><a href="/profile/edit">Profile</a></li>
    <li class="navbar-item font-16"><a href="/petition/signers">Signers</a></li>
    <li class="navbar-item font-16"><a href="/logout">Logout</a></li>
  </ul>
</div>
