<div class="navbar-background">
  <ul class="navbar container">
    <li class="navbar-item font-16"><a href="/">Home</a></li>
    <li class="navbar-item font-16"><a href="/manage">{{first}} {{last}}</a></li>
    <li class="navbar-item font-16"><a href="/logout">Logout</a></li>
  </ul>
</div>
