<div class="progress-container">
  <p id="petition-signers" style="display:none">{{signersNumber}}</p>
  <p id="petition-goal" style="display:none">{{goal}}</p>
  <h5 class="progress-goal mar-vert-xs font-13">Goal: {{goal}}</h5>
  <div id="progress">
    <div id="progress-bar">0%</div>
  </div>
</div>
