{{#if punishTime}}
  <div class="text-error text-center font-16 mar-bot-xs">
    <h3>You failed {{punishFailures}} times. Please wait <span id="punish-time">{{punishTime}}</span> seconds before trying again</h3>
  </div>
{{/if}}
