<div class="title text-center">
  <h1>Now you're contributing to the cause with us!</h1>
</div>

<div class="petition-logo text-center">
  <img class="rounded-shadow box-70" src="/static/images/plastic-fish.jpg" alt="plastic fish eating earth">
</div>
