<div class="social-icons mar-vert-lg">
  <h2 class="mar-xs" style="font-style: italic">You should be proud! Share it with your friends</h2>
  <a class="mar-hor-sm" href="#"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>
  <a class="mar-hor-sm" href="#"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a>
  <a class="mar-hor-sm" href="#"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a>
</div>
