<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>End Plastic Pollution</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>

    <div class="navbar-background">
      <ul class="navbar container">
        <li class="navbar-item font-16"><a href="/">Home</a></li>
        <li class="navbar-item font-16"><a href="/manage">John Doertst Loonng</a></li>
        <li class="navbar-item font-16"><a href="/logout">Logout</a></li>
      </ul>
    </div>

    <div class="container mar-top-md mar-bot-lg">

      {{{body}}}

    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
      <script type="text/javascript" src="/static/script.js"></script>
  </body>
</html>
