<div class="title text-center mar-vert-lg">
  <h1>Error happened retrieving data from DB</h1>
  <img class="block-center" src="static/images/err.png" alt="error happened">
  <a href="/petition"><h2 class="mar-vert-md btn btn-darkblue-trans">Please return back!</h2></a>
</div>
