<h1>Login page!</h1>
<form class="form-fields" action="/login" method="post">
  <div class="text-fields">
    <div class="mar-xs">
      <input type="text" name="email">
      <h6 class="mar-xs">Email Address</h6>
    </div>
    <div class="mar-xs">
      <input type="password" name="password">
      <h6 class="mar-xs">password</h6>
    </div>
  </div>
  <button class="block-center mar-vert-md green-btn" type="submit">LOG IN</button>
</form>
