<div class="title mar-vert-md text-center font-16">
  <h1>Save our Ocean, save yourself. End plastic pollution now!</h1>
</div>

{{> _progressBar}}

<div class="petition-big-img text-center mar-top-lg">
  <a href="/static/images/pollution-draw.jpg">
    <img class="rounded shadow box-80" src="/static/images/pollution-draw.jpg" alt="descriptive draw representing global polluting situation">
  </a>
</div>

<div class="description mar-top-lg mar-bot-lg font-13">
  <h3>By 2050, our oceans will have more plastic trash than fish. It’s shameful. Half of the plastic made we use just once and throw out, choking our seas and all the animals in it.</h3>
  <p>But in days, our governments can stem this tide when they meet at a historic summit to outline their clean ocean commitments. Public pressure just got #2 polluter Indonesia to commit to a 70% reduction in plastic waste! Now we need to go after the other top polluters. If one million of us get behind a global call the Head of the UN Environment Programme will announce our petition from the summit podium and work with us to push countries to ban single-use plastics and let our oceans breathe again. Add your name.</p>
</div>

{{> _errorMessage}}

<form class="text-center font-16" action='/petition' method='post'>
  <h3 class="mar-vert-sm">{{first}} {{last}}</h3>
  <div class="mar-vert-xs">
    <canvas id="signature-canvas" class="signature" width="800" height="150"></canvas>
    <h5 class="mar-xs">Your Signature</h5>
  </div>
  <input type="hidden" name="signature">
  <button class="block-center mar-vert-md btn btn-green" type="submit">Submit</button>
</form>
