<div class="title mar-vert-sm text-center font-20">
  <h1>Save our Ocean, save yourself. End plastic pollution now!</h1>
</div>

<div class="petition-big-img text-center">
  <img class="rounded shadow box-70" src="/static/images/pollution-draw.jpg" alt="descriptive draw representing global polluting situation">
</div>

<div class="description mar-top-lg mar-bot-lg font-13">
  <h4>By 2050, our oceans will have more plastic trash than fish. It’s shameful. Half of the plastic made we use just once and throw out, choking our seas and all the animals in it.</h4>
  <p>But in days, our governments can stem this tide when they meet at a historic summit to outline their clean ocean commitments. Public pressure just got #2 polluter Indonesia to commit to a 70% reduction in plastic waste! Now we need to go after the other top polluters. If one million of us get behind a global call the Head of the UN Environment Programme will announce our petition from the summit podium and work with us to push countries to ban single-use plastics and let our oceans breathe again. Add your name.</p>
</div>

{{#if showError}}
<div class="text-error text-center font-16 mar-bot-xs">
  <h3>Hey, something went wrong. Please try again!</h3>
</div>
{{/if}}

<form class="form-fields text-center font-16" action='/petition' method='post'>
  <div class="name-fields">
    <div class="mar-hor-sm">
      <input type="text" name="firstName">
      <h6 class="mar-xs">First Name</h6>
    </div>
    <div class="mar-hor-sm">
      <input type="text" name="lastName">
      <h6 class="mar-xs">Last Name</h6>
    </div>
  </div>
  <div class="mar-top-xs mar-bot-sm">
    <canvas class="signature-canvas" width="600" height="120"></canvas>
    <h6 class="mar-xs">Signature</h6>
  </div>
  <input type="hidden" name="signature">
  <button class="block-center green-btn" type="submit">SUBMIT</button>
</form>
