<div class="title text-center mar-vert-md">
  <h1>Sign Up</h1>
  <h2>Help us making our world better, for free!</h2>
</div>

{{> _errorMessage}}

<form class="form-fields" action="/register" method="post">
  <!-- hidden input for csrf token -->
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <div class="mar-vert-sm">
    <h4 class="mar-xs">First Name (required)</h4>
    <input type="text" name="firstName" placeholder="John">
  </div>
  <div class="mar-vert-sm">
    <h4 class="mar-xs">Last Name (required)</h4>
    <input type="text" name="lastName" placeholder="Doe">
  </div>
  <div class="mar-vert-sm">
    <h4 class="mar-xs">Email Address (required)</h4>
    <input type="email" name="email" placeholder="john.doe@mail.com">
  </div>
  <div class="mar-vert-sm">
    <h4 class="mar-xs">Password (required)</h4>
    <input type="password" name="password" placeholder="password">
  </div>
<button class="block-center mar-vert-sm btn btn-darkblue" type="submit">SIGN UP</button>
</form>

<div class="text-center mar-lg">
  <h2 class="mar-vert-sm">If you are already member, please</h2>
  <a class="btn btn-darkblue" href="/login">LOG IN</a>
</div>
