<div class="container mar-top-md mar-bot-lg">

  <h1>Register page!</h1>

  {{> _errorMessage}}

  <form class="form-fields" action="/register" method="post">
    <div class="text-fields">
      <div class="mar-xs">
        <input type="text" name="firstName">
        <h6 class="mar-xs">First Name</h6>
      </div>
      <div class="mar-xs">
        <input type="text" name="lastName">
        <h6 class="mar-xs">Last Name</h6>
      </div>
      <div class="mar-xs">
        <input type="text" name="email">
        <h6 class="mar-xs">Email Address</h6>
      </div>
      <div class="mar-xs">
        <input type="password" name="password">
        <h6 class="mar-xs">password</h6>
      </div>
    </div>
    <button class="block-center mar-vert-md green-btn" type="submit">SIGN UP</button>
  </form>

  <h2>If you are already member, please <a href="/login">log in</a></h2>

</div>
