<div class="title mar-vert-md font-13 text-center">
  <h1>Thanks for contributing!</h1>
</div>

<div class="signed-petition">
  <div class="signed-petition-img mar-hor-sm">
    <img class="box-100 rounded" src="/static/images/plastic-fish.jpg" alt="plastic fish eating earth">
  </div>
  <div class="signed-petition-sign mar-hor-xs">
    <h2 class="mar-xs">Your Signature:</h2>
    <img class="signature rounded" src="{{signature}}" alt="signature">
  </div>
</div>

{{> _socialShare}}

<div class="text-center mar-top-lg mar-bot-md">
  <a href="/petition/signers"><h2 class="btn btn-darkblue-trans">See all signers</h2></a>
  <a href="/petition/signers"><h2 class="btn btn-darkblue-trans">Delete your signature</h2></a>
</div>
