<div class="sub-title text-center">
  <h1>Now you're contributing to the cause with us!</h1>
</div>

<div class="signed-petition">
  <div class="petition-sm-img">
    <img class="box-100 rounded" src="/static/images/plastic-fish.jpg" alt="plastic fish eating earth">
  </div>
  <div class="petition-signature mar-hor-lg">
    <h2>Here's your signature!</h2>
    <img class="sign rounded" src="{{signature}}" alt="signature">
  </div>
</div>

<div class="signers-link">
  <a href="/signers"><h2>See all signers</h2></a>
</div>
