body {
  background-color: #FAFBFC;
}
/**/
.navbar-background {
  height: 8rem;
  background-color: rgba(0,0,0,.7);
}
.navbar {
  display: flex;
  align-items: center;
  height: 8rem;
}
.navbar-item {
  padding: 1em;
}
.navbar-item a {
  color: white;
}
.navbar-item:first-child {
  margin-right: auto;
}
/**/
.container {
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
}
/**/
.form-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-fields input {
  font-size: 1.2em;
  padding: .4em .7em;
}
/**/
.signature {
  background-color: white;
  border: 2px dotted grey;
}
/**/
.btn {
  display: inline-block;
  padding: .5em 1em;
  border: none;
  border-radius: 15px 50px;
  letter-spacing: 2px;
  font-size: 2.5rem;
  font-family: monospace;
  font-weight: bold;
  cursor: pointer;
}
.btn-darkblue-trans {
  border: 3px solid #020181;
  color: #020181;
}
.btn-green {
  background-color: #4CAF50;
  color: white;
}
.btn-darkblue {
  background-color: #0A1B47;
  color: white;
}
/**/
#signature-canvas {
  cursor: crosshair;
}
/**/
.signed-petition {
  display: flex;
  align-items: center;
}
.signed-petition-img {
  width: 45%;
}
.signed-petition-sign {
  width: 55%;
}

.signers-list {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  background-color: white;
  line-height: 2em;
}
.signers-list li {
  flex: 1 100%;
  margin: .3em 0;
}
/**/
#progress {
  border: 1px solid grey;
  border-radius: 10px;
}
#progress-bar {
  width: 0%;
  height: 50px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  border-radius: 10px;
}
.progress-goal {
  text-align: right;
  font-style: italic;
}
/**/
@media screen and (min-width: 768px){
  .signed-petition-img {
    width: 25%;
  }
  .signed-petition-sign {
    width: 75%;
  }
}
@media screen and (min-width: 1024px){
  .container {
    width: 85%;
    font-size: 25px;
  }
  .navbar-background,.navbar {
    height: 5rem;
  }
}
@media screen and (min-width: 1200px){
  .container {
    width: 75%;
    font-size: 18px;
  }
  .navbar-item {
    padding: 1.5em;
  }
  .signers-list li {
    flex: 1 50%;
  }
  .btn {
    padding: .4em .8em;
    border-radius: 15px 50px;
    letter-spacing: 2px;
    font-size: 2rem;
  }
}
