/*COMMON CLASSES*/
.text-center {
  text-align: center;
}
.block-center {
  display: block;
  margin: 0 auto;
}
.mar-big {
  margin: 4em;
}
.mar-sm {
  margin: 2em;
}
.mar-xs {
  margin: 1em;
}
.mar-vert-big {
  margin-top: 4em;
  margin-bottom: 4em;
}
.mar-vert-sm {
  margin-top: 2em;
  margin-bottom: 2em;
}
.mar-vert-xs {
  margin-top: 1em;
  margin-bottom: 1em;
}
.mar-top-big {
  margin-top: 4em;
}
.mar-bot-big {
  margin-bottom: 4em;
}
.mar-top-sm {
  margin-top: 2em;
}
.mar-top-sm {
  margin-bottom: 2em;
}
.mar-top-xs {
  margin-top: 1em;
}
.mar-top-xs {
  margin-bottom: 1em;
}
.mar-hor-big {
  margin-left: 4em;
  margin-right: 4em;
}
.mar-hor-sm {
  margin-left: 2em;
  margin-right: 2em;
}
.mar-hor-xs {
  margin-left: 1em;
  margin-right: 1em;
}
.rounded-shadow {
  box-shadow: 0px 0px 30px 10px rgba(69,48,69,0.5);
  border-radius: 10px;
}
.green-btn {
  padding: .3em .8em;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 10px;
  letter-spacing: 2px;
  font-size: 1.8rem;
  font-family: monospace;
  font-weight: bold;
}

/*SPECIFIC CLASSES*/
body {
  background-color: #FAFBFC;
}
.container {
  width: 80%;
  margin: 2em auto;
  font-family: 'Josefin Sans', sans-serif;
}
.title {
  font-size: 2em;
}
#pollution-draw {
  width: 70%;
}
.description {
  font-size: 1.3em;
}
.form-fields {
  font-size: 1.8em;
}
.name-fields {
  display: flex;
  justify-content: center;
}
#signature-canvas {
  background-color: white;
  border: 2px dotted grey;
}
